A dataset collected in a cosmetics shop showing details of customers and whether or not they responded to a special offer to buy a new lipstick is shown in the table below. Use this dataset to build a decision tree, with Buys as the target variable, to help in buying lip-sticks in the future. Find the root node of the decision tree. According to the decision tree, you have made from the previous Training data set, what is the decision for the test data: [Age < 21, Income = Low, Gender = Female, Marital Status = Married]? Write the concluding statement for the implemented application.

In [1]:
#importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#creating datset
data={
    'id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14],
    'age':['<21','<21','21-35','>35','>35','>35','21-35','<21','<21','>35','<21','21-35','21-35','>35'],
    'income':['high','high','high','medium','low','low','low','medium','low','medium','medium','medium','high','medium'],
    'gender':['male','male','male','male','female','female','female','male','female','female','female','male','female','male'],
    'marital_status':['single','married','single','single','single','married','married','single','married','single','married','married','single','married'],
    'buys':['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']
}

### preprocssing

In [5]:
df=pd.DataFrame(data,columns=['id','age','income','gender','marital_status','buys'])

In [6]:
df

    id    age  income  gender marital_status buys
0    1    <21    high    male         single   no
1    2    <21    high    male        married   no
2    3  21-35    high    male         single  yes
3    4    >35  medium    male         single  yes
4    5    >35     low  female         single  yes
5    6    >35     low  female        married   no
6    7  21-35     low  female        married  yes
7    8    <21  medium    male         single   no
8    9    <21     low  female        married  yes
9   10    >35  medium  female         single  yes
10  11    <21  medium  female        married  yes
11  12  21-35  medium    male        married  yes
12  13  21-35    high  female         single  yes
13  14    >35  medium    male        married   no

In [7]:
df=df.drop('id',axis=1)

In [8]:
df

      age  income  gender marital_status buys
0     <21    high    male         single   no
1     <21    high    male        married   no
2   21-35    high    male         single  yes
3     >35  medium    male         single  yes
4     >35     low  female         single  yes
5     >35     low  female        married   no
6   21-35     low  female        married  yes
7     <21  medium    male         single   no
8     <21     low  female        married  yes
9     >35  medium  female         single  yes
10    <21  medium  female        married  yes
11  21-35  medium    male        married  yes
12  21-35    high  female         single  yes
13    >35  medium    male        married   no

In [14]:
df.shape

(14, 5)

### crearing dependent and independent variable

In [18]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1].values

In [20]:
#converting categorical data into numerical data
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X=X.apply(le.fit_transform)

In [33]:
df.head()

     age  income  gender marital_status buys
0    <21    high    male         single   no
1    <21    high    male        married   no
2  21-35    high    male         single  yes
3    >35  medium    male         single  yes
4    >35     low  female         single  yes

In [21]:
X

    age  income  gender  marital_status
0     1       0       1               1
1     1       0       1               0
2     0       0       1               1
3     2       2       1               1
4     2       1       0               1
5     2       1       0               0
6     0       1       0               0
7     1       2       1               1
8     1       1       0               0
9     2       2       0               1
10    1       2       0               0
11    0       2       1               0
12    0       0       0               1
13    2       2       1               0

In [44]:
#splitting our data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [45]:
#applying decision tree with entropy criterion
from sklearn.tree import DecisionTreeClassifier
c=DecisionTreeClassifier(criterion='entropy',random_state=0)
c.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [46]:
y_pred=c.predict(X_test)

In [47]:
#predicted output by model on our X_test data
y_pred

array(['yes', 'yes', 'no', 'no', 'no'], dtype=object)

In [48]:
#print(np.concatenate(y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1),1))

In [49]:
#determining metrics of the models
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_test,y_pred)
cm

array([[0, 0],
       [3, 2]], dtype=int64)

In [50]:
accuracy_score(y_test,y_pred)

0.4

In [51]:
# what is the decision for the test data: [Age < 21, Income = Low, Gender = Female, Marital Status = Married]
c.predict([[1,1,0,0]])

array(['yes'], dtype=object)

# Conclusion

our model prdicts  based on the given data that 
person with following attribute values 
Age < 21, Income = Low, Gender = Female, Marital Status = Married
"will buy the lipstic",according to the Entropy criterion

In [53]:
#decisiion tree with gini criterion
from sklearn.tree import DecisionTreeClassifier
d=DecisionTreeClassifier(criterion='gini',random_state=0)
d.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [54]:
y_pred=c.predict(X_test)

In [55]:
y_pred

array(['yes', 'yes', 'no', 'no', 'no'], dtype=object)

In [56]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_test,y_pred)
cm

array([[0, 0],
       [3, 2]], dtype=int64)

In [57]:
c.predict([[1,1,0,0]])

array(['yes'], dtype=object)

## Conclusion

our model prdicts  based on the given data that 
person with following attribute values 
Age < 21, Income = Low, Gender = Female, Marital Status = Married
"will buy the lipstic",according to the gini criterion

# i.e with both the criterions our model predicts that person will buy the lipstic